.piechart-container {
  width: 220px;
}

.piechart-legend {
  width: 215px;
  margin: auto;
  text-align: center;
}

.piechart-legend-category {
  font-size: 11px;
  display: inline-block;
  margin: 1px;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 1px 3px;
}

.piechart-legend-category span {
  font-size: 14px;
  vertical-align: middle;
}

.color-sample {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  border-radius: 2px;
}

.scalechart-container {
  width: 240px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 8px;
  margin: 2px 3px;
}

.scalechart-container h3 {
  font-size: 14px !important;
}

.scalechart-container h3, .scalechart-container h5, .piechart-container h3, .piechart-container h5 {
  text-align: center;
  margin: 3px 3px 0;
}

.scalebar-container {
  margin: 0 auto;
}

.scalebar-container > * {
  vertical-align: middle;
  line-height: 40px;
}

.scalebar-container span {
  font-size: 12px;
}

.scale-bar {
  width: 190px;
  height: 30px;
  display: inline-block;
  border-radius: 6px;
  position: relative;
  background-image: linear-gradient(to right, red, yellow);
}

.scale-bar-before {
  position: absolute;
  content: "";
  width: 8px;
  background-color: black;
  border-radius: 4px;
  height: 100%;
  border: 0px;
}

.scalechart-num {
  height: 12px;
  position: relative;
  width: 180px;
  margin: 0 auto;
}

.scalechart-num div {
  font-size: 10px;
  line-height: 12px;
  position: absolute;
}
