{% extends 'base.html' %}

{% block title %}
Create an account
{% endblock %}

{% block content %}
<form method="POST" class="credential-form">
  {% if flash %}
  <p style="margin-bottom: 12px;"><span class="flash">{{ flash }}</span></p>
  {% endif %}
  <p><input type="text" name="username" maxlength="24" placeholder="Enter a username" autocomplete="off" required></p>
  <p><input type="password" name="password" maxlength="52" placeholder="Enter a password" required></p>
  <p><input type="password" name="password2" maxlength="52" placeholder="Confirm password" autocomplete="off" required></p>
  <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
